name: CI Workflow for Testing

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10", "3.11"]

    env:
      # Test environment variables
      MONGO_URI: mongodb://localhost:27017
      DB_NAME: test_db
      MOCK_DB: "true"
      DEBUG: "false"
      JWT_SECRET_KEY: 'fake_secret_key_for_testing' # I am only using this for testing purposes, do not use this in production

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-dev.txt

      - name: Run tests
        run: |
          pytest --cov=app --cov-report=term-missing
